@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    margin: 0px;
}
header{
   
    background-color:black;
    margin: auto;
    margin-top: 0px;
    padding: 5px 0px 0px ;
    margin: -10px;
}

header>h1{
    margin-bottom: 1px;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-weight: bold;
    font-size: 8vw;    
    color: white;
    padding-top: 10px;
    /* Concertar o tamanho da fonte */
    
    
}
header>p{
    margin-top: 0px;
    text-align:center;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 9px 1px 40px;
}
    

header>p>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
    color: red;
}
main{
    min-width: 300px;
    max-width: 1000px;
}




article>section>#primeiroP{
    padding: 30px;
    max-width: 200vw;
    min-height: 100vw;
    height: 300px;
    text-align:justify;
    text-overflow: clip;
    
    font-size: 2vmax;
    margin-bottom: 15%;
    
    font-family:'Sriracha',cursive ;
}

article>#segundaS{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    
    
    margin: -20px;
    padding: 20% ;
    background-size: 200vw;
    

    background-repeat: no-repeat;
}

article>section>#segundoP{
    background-color: rgba(0, 0, 0, 0.377);

    margin: 20px;
    width: 26vw;
    height: 30vh;
    text-align: left;
    font-size: vw;
    color: white;
    padding: 10px;
    font-size: 2.7vw;

    font-family:'Sriracha',cursive ;
}